@import "./setting/base";

body {
    background: rgb(56, 145, 118);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.example {
    padding: 50px;
    display: grid;
    transition: all 0.5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

// yayayayay hahahah hahah